.container {
   display: flex;
   padding: 2rem 0 4rem 0;
   flex-direction: row;
   margin: 0 1rem;
}

.content {
   width: 100%;
   margin-top: 0.2rem;
   overflow: scroll;
}

.menucontainer {
   display: flex;
   flex-direction: column;
   width: fit-content;
   margin: 0 1rem 0 0;
   position: sticky;
   top: 6rem;
   height: fit-content;
}

.menuselector {
   padding: 0.6rem 0.7rem;
   margin: 0.1rem 0;
   border-radius: 0.4rem;
   font-size: 0.9rem;
   font-weight: 600;
   display: flex;
   cursor: pointer;
}

.menuselectorselected {
   color: #fff;
   background-color: #00A1E4;
   cursor: default;
}

.menuselectorselected .menuselectoricon {
   color: #F2E86D;
}

.menuselectorselected:hover {
   color: #fff;
   background-color: #00A1E4;
}

.menuselectoricon {
   min-width: 1.1rem;
   margin-right: 0.4rem;
   color: #00A1E4;
   transition: transform .3s;
}

.menuselectoractive:hover {
   color: #00A1E4;
   cursor: pointer;
   background-color: #ececec;
}

.menuselectoractive:hover .menuselectoricon {
   transform: translateX(0.2rem);
}

.mailcontainer p {
   margin: 1rem 0 0 0.5rem;
   font-size: 0.95rem;
   font-weight: 500;
}

.mailheader {
   margin: 0 0.5rem 1.2rem 0.5rem;
   padding: 0;
   font-size: 1.3rem;
   font-weight: 500;
}

.savebuttoncontainer {
   margin: 1rem 0 0 0.5rem;
}

.error {
   color: #FF3C38;
   margin: 0 0 0 0.5rem;
}

.plugintable {
   margin-bottom: 3rem;
}

.actionbutton {
   background-color: #f1f1f1;
   border: 1px solid #ddd;
   display: flex;
   align-items: center;
   justify-content: center;
   padding: 0.3rem 0.5rem;
   border-radius: 5px;
   cursor: pointer;
   margin-right: 0.5rem;
   font-weight: 400;
   width: 5rem;
}

.actionbutton:hover {
   background-color: #fff;
}

.actionbutton span {
   margin-left: 0.4rem;
}

.actionbuttonscontainer {
   display: flex;
   flex-direction: row;
}

.tableinput {
   outline: none;
   padding: 0.5rem;
   border-radius: 5px;
   border: 1px solid #ddd;
   font-size: 0.9rem;
   font-weight: 500;
   width: 100%;
}