.container {
   display: flex;
   padding: 2rem 0 4rem 0;
   flex-direction: row;
   margin: 0 1rem;
}

.content {
   width: 100%;
   margin-top: 0.2rem;
}

.menucontainer {
   display: flex;
   flex-direction: column;
   width: fit-content;
   margin: 0 1rem 0 0;
}

.menuselector {
   padding: 0.6rem 0.7rem;
   margin: 0.1rem 0;
   border-radius: 0.4rem;
   font-size: 0.9rem;
   font-weight: 600;
   display: flex;
   cursor: pointer;
}

.menuselectorselected {
   color: #fff;
   background-color: #00A1E4;
   cursor: default;
}

.menuselectorselected .menuselectoricon {
   color: #F2E86D;
}

.menuselectorselected:hover {
   color: #fff;
   background-color: #00A1E4;
}

.menuselectoricon {
   min-width: 1.1rem;
   margin-right: 0.4rem;
   color: #00A1E4;
   transition: transform .3s;
}

.menuselectoractive:hover {
   color: #00A1E4;
   cursor: pointer;
   background-color: #ececec;
}

.menuselectoractive:hover .menuselectoricon {
   transform: translateX(0.2rem);
}