.basketicon {
   position: fixed;
   top: 4.6rem;
   right: 1rem;
   cursor: pointer;
   transition: transform 0.2s;
}

.basketicon:hover {
   transform: scale(1.1);
}

.basketcontent {
   position: fixed;
   top: 6.9rem;
   right: 1rem;
   height: calc(80vh - 3rem);
   background: aqua;
   border-radius: 0.4rem;
   width: 35rem;
   padding: 0 1rem 1rem 1rem;
   background-color: white;
   filter: drop-shadow(0px 0px 2px #888888);
   overflow: scroll;
   z-index: 10;
}

.basketlabel {
   font-size: 1.1rem;
   color: #D25627;
   margin-bottom: 0.6rem;
}

.addfolder {
   width: 100%;
   background-color: #d2552734;
   padding: 0.8rem;
   border-radius: 0.5rem;
   cursor: pointer;
   display: flex;
   align-items: center;
}

.addfoldertitle {
   margin-left: 0.5rem;
}

.addfolder:hover {
   background-color: #D25627;
   color: white;
}

.itemscontainer {
   padding: 0;
   margin: 0;
}

.item {
   display: block;
   padding: 0.5rem;
   background-color: #dbdbdb;
   border-radius: 0.5rem;
   margin: 0.4rem 0;
   cursor: pointer;
}

.item:hover {
   background-color: #D25627;
   color: white;
   transform: scale(1.05);
   transition: transform 0.4s;
}

.heading {
   position: sticky;
   top: 0;
   background-color: white;
   padding: 0.9rem 0;
}