.inputandcreatecontainer {
   display: flex;
   align-items: center;
   margin-top: 1rem;
}

.createcollectionbuttons {
   display: flex;
   margin-top: 1rem;
   justify-content: center;
}

.createcollectionbutton {
   margin: 0;
   padding: 0.7rem;
   min-width: 10rem;
   text-align: center;
   cursor: pointer;
   border-radius: 0.4rem;
}

.createcollectionbuttons {
   margin-bottom: 1rem;
}

.createcollectionbutton {
   color: #888;
}

.createcollectionbutton:hover {
   background-color: #ECF0F1;
}

.createbutton {
   cursor: not-allowed;
}

.createbuttonicon {
   margin-left: 1rem;
   transition: transform .3s;
}

.createbuttonenabled {
   cursor: pointer;
   color: #549F93;
}

.createbutton:hover .createbuttonicon {
   transform: translateX(1rem);
}

.cancelbutton:hover {
   color: #D25627;
}

.cancelbuttonicon {
   margin-right: 1rem;
   transition: transform .3s;
}

.cancelbutton:hover .cancelbuttonicon {
   transform: translateX(-1rem);
}

.newcollectionbutton {
   white-space: nowrap;
   display: flex;
   align-items: center;
   justify-content: center;
   background-color: #465775;
   color: #fff;
   padding: 0.7rem;
   border-radius: 0.4rem;
   margin-left: 1rem;
   font-size: 1rem;
   cursor: pointer;
}

.newcollectionbutton:hover {
   background-color: #00A1E4;
}

.newcollectionbutton:hover .createcollectionbuttonicon {
   transform: translateX(-0.25rem);
}

.newcollectionbuttonactive {
   background-color: #00A1E4;
   margin: 0;
   width: 100%;
   border-radius: 0;
   cursor: default;
}

.newcollectionbuttonactive .createcollectionbuttonicon {
   transform: translateX(-0.25rem);
}

.createcollectionbuttonicon {
   margin-right: 0.4rem;
   color: #F2E86D;
   transition: transform .3s;
}

.collectionfilter {
   width: 100%;
   border: none;
   padding: 0.7rem;
   font-size: 1rem;
   background-color: #ECF0F1;
   color: #171D26;
   border-radius: 0.4rem;
   font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
   transition: width .35s;
}

.collpasefilter {
   opacity: 0;
   width: 0%;
   padding: 0;
}

.tablecontainer {
   margin-top: 1rem;
   width: 100%;
   overflow: scroll;
   height: 20rem;
   color: #171D26;
   border: 2px solid #465775;
}

.table {
   min-width: 100%;
   text-align: left;
   border-spacing: 0;
   font-size: 0.95rem;
   font-weight: 400;
}

.name {
   font-weight: 600;
}

.table tr {
   width: 100%;
}

#results tr:nth-child(even) {
   background-color: #e1e6ee;
 }

.table td {
   padding: 0.75rem;
   cursor: pointer;
}

.table tbody tr:hover {
   background-color: #00A1E4 !important;
   color: #fff;
}

.table th {
   padding: 0.5rem;
   background-color: #465775;
   color: #fff;
   font-size: 1rem;
   font-weight: 400;
   position: sticky;
   z-index: 2;
   top: 0;
}


.collectionoptionscontainer {
   margin-top: 1rem;
}

.selectdestinationcontainer {
   filter: drop-shadow(0 0 2px #e1e6ee);
}

.selectdestinationbutton {
   display: flex;
   justify-content: space-between;
   background-color: #fff;
   border: 2px solid #e1e6ee;
   padding: 0.5rem;
   color: #171D26;
   width: 100%;
   font-size: 1rem;
   border-radius: 0.4rem;
   cursor: pointer;
}

.selectdestinationbuttonactive {
   border-radius: 0.4rem 0.4rem 0 0;
   border-bottom: 1px solid #fff;
   position: relative;
   z-index: 2;
}

.selectdestinationbuttonactive .selectdestinationbuttoniconcontainer {
   color: #00A1E4;
}

.selectdestinationbuttoninactive {
   color: #888;
}

.selectdestinationbuttonfilled {
   color: #549F93;
}

.selectdestinationbuttontext {
   white-space: nowrap;
   overflow: hidden;
   margin-right: 0.2rem;
}

.selectdestinationbuttoniconcontainer {
   color: #465775;
   transition: transform .2s;
}

.selectdestinationbutton:hover .selectdestinationbuttoniconcontainer {
   color: #00A1E4;
}

.selectdestinationbuttoniconopen {
   transform: rotate(-90deg);
}

.absolutepositionofdropdown {
   position: relative;
}

.collectionselect {
   border-radius: 0 0.4rem 0.4rem 0.4rem;
   border: 2px solid #e1e6ee;
   width: 100%;
   background-color: #fff;
   padding: 0.5rem;
   position: absolute;
   top: -2px;
   z-index: 1;
}

.selectedcollection {
   background-color: #00A1E4 !important;
   color: #fff;
   filter: drop-shadow(0px 0px 5px #acacac);
}