.table {
   width: 100%;
   text-align: left;
   border-spacing: 0;
   font-size: 0.9rem;
   font-weight: 500;
}

.tableheader {
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin: 0.1rem 0 0.3rem 0;
}

.tableheadertitle {
   font-size: 1.1rem;
   font-weight: 500;
}

.tableheadernav {
   display: flex;
   flex-direction: row;
}

.sortbycontainer {
   display: flex;
   flex-direction: row;
   align-items: center;
   width: 12rem;
}

.filterinput {
   min-height: 32px;
   margin: 0;
   border-radius: 4px;
   border: 1px solid hsl(0, 0%, 80%);
   width: 100%;
   padding: 0 10px;
   font-size: 0.9rem;
   margin-right: 1.1rem;
}

.tableheadernavlabel {
   font-size: 0.7rem;
   font-weight: 700;
   margin: 0 0.4rem;
   color: hsl(0, 0%, 30%);
}

.tableheadernavflex {
   flex: 2;
   font-size: 0.9rem;
}

.tablefooter {
   margin: 1rem 0 0.1rem 0;
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: space-between;
}

.tablefooternav {
   display: flex;
   align-items: center;
   font-size: 0.9rem;
   color: #888;
}

.tablefooternavicon {
   font-size: 1.4rem;
   color: #D25627;
   cursor: pointer;
}

.tablefooternav span {
   margin: 0 0.15rem;
   font-weight: 500;
   color: hsl(0, 0%, 30%);
   padding: 0.15rem 0.4rem;
   cursor: pointer;
}

.tablefooternav span:hover {
   background-color: #ddd;
   border-radius: 100%;
}

.tablefooternavstart {
   margin-left: 1rem !important;
}

.tablefooternavend {
   margin-right: 1rem !important;
}

.tablefooternavselected {
   background-color: #D25627;
   color: #fff !important;
   padding: 0.15rem 0.4rem;
   border-radius: 100%;
}

.name {
   font-weight: 600;
}

.table tr {
   width: 100%;
}

.table tr:nth-child(odd) {
   background-color: #f9f9f9;
 }

.table td {
   padding: 0.5rem;
   border-top: 1px solid #ddd;
   line-height: 1.42857143;
}

.table th {
   padding: 0.5rem;
   font-size: 0.9rem;
   font-weight: 600;
   position: sticky;
   top: 0;
   border-bottom: 2px solid #ddd;
   background-color: #fff;
}


.statuscontainer {
   max-width: 62rem;
}

.error {
   font-size: 1.5rem;
   margin: 0 1rem;
   color: #5f5f5f;
 }
 
 .loadercontainer {
   width: 100%;
   display: flex;
   flex-direction: column;
   align-items: center;
 }
 
 .loaderanimation {
   width: 100%;
   align-items: center;
   justify-content: center;
   height: calc(100vh - 20rem);
   display: flex;
   flex-direction: column;
 }


 @media (max-width: 700px) {
   #filterresults {
      display: none;
   }
 }