.table {
   min-width: 100%;
   text-align: left;
   overflow: scroll;
   border-spacing: 0;
   font-size: 0.9rem;
   font-weight: 500;
}

.name {
   font-weight: 600;
}

.table tr {
   width: 100%;
}

.table tr:nth-child(odd) {
   background-color: #f9f9f9;
 }

.table td {
   padding: 0.5rem;
   border-top: 1px solid #ddd;
   line-height: 1.42857143;
}

.table th {
   padding: 0.75rem;
   background-color: #465775;
   color: white;
   font-size: 0.95rem;
   font-weight: 600;
   position: sticky;
   z-index: 2;
   top: 0;
}


.statuscontainer {
   max-width: 30rem;
}