.footer {
   width: 100%;
   border-top: 1px solid #eaeaea;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   background-color: white;
   position: absolute;
   bottom: 0;
   width: 100%;
   height: 80px;
 }
 
 .footer p {
   width: 100%;
   text-align: center;
 }
 
 .footer a {
   color: #D25627;
 }

 .footer a:hover {
   text-decoration: underline;
 }

 .footer p {
   margin: 0;
 }

 .firstline {
   padding-bottom: 0.2rem;
 }