.footer {
   height: 70px;
   width: 95%;
   border-top: 1px solid #eaeaea;
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: white;
   position: absolute;
   bottom: 0;
 }
 
 .footer p {
   width: 100%;
   text-align: center;
 }
 
 .footer a {
   color: #D25627;
 }