.container {
   display: flex;
   flex-direction: column;
   align-items: center;
   padding: 3rem 0;
}

.frame {
   display: flex;
   flex-direction: column;
   align-items: center;
   border-radius: 1rem;
}

.header {
   color: #171D26;
   font-size: 1.7rem;
   margin-bottom: 0.5rem;
   margin-top: 0.5rem;
   font-weight: 400;
}

.intro {
   color: #575757;
   margin-bottom: 2rem;
}

.input {
   outline: none;
   padding: 0.6rem;
   font-size: 1.1rem;
   margin: 0.5rem;
   width: 22rem;
   border: 2px solid #00A1E4;
   color: #171D26;
}

.input::placeholder {
   color: #465775;
}

.infocontainer {
   margin-top: 0.5rem;
   text-align: center;
}

.info {
   font-size: 1rem;
   color: #575757;
   margin: 1.5rem;
}

.blue {
   color: #00A1E4;
   cursor: pointer;
   font-weight: 600;
}

.blue:hover {
   text-decoration: underline;
}

.submitbutton {
   margin-top: 0.7rem;
   padding: 0.85rem;
   background-color: #465775;
   width: 22rem;
   text-align: center;
   color: #fff;
   cursor: pointer;
   transition: transform .3s;
}

.submitbutton:hover .submiticon {
   transform: translateX(0.3rem);
}

.submiticon {
   margin-right: 0.35rem;
   transition: transform .3s;
   color: #84DCCF;
}

.warning {
   color: rgb(255, 55, 55);
   width: 22rem;
   text-align: center;
   margin-bottom: 0.5rem;
}