.tablecontainer {
   width: 100%;
   padding: 0 1rem 1rem 1rem;
   max-height: calc(100vh - 15rem);
   overflow: scroll;
}

.table {
   min-width: 100%;
   text-align: left;
   overflow: scroll;
   border-spacing: 0;
   border: 1px solid #D25627;
   font-size: 0.95rem;
}

#results tr:nth-child(even) {
   background-color: #d2552728;
 }

.table td {
   padding: 0.75rem;
   cursor: pointer;
}

.table tr:hover {
   background-color: #D25627 !important;
   color: white;
} 

.table th {
   padding: 0.75rem;
   background-color: #D25627;
   color: white;
   font-size: 1.1rem;
   font-weight: 500;
}