.resultcontainer {
   min-width: 100%;
}

.tablecontainer {
   width: 100%;
   overflow: scroll;
   max-height: calc(100vh - 13rem);
   padding: 0 1rem 0 1rem;
}

.table {
   min-width: 100%;
   text-align: left;
   overflow: scroll;
   border-spacing: 0;
   border: 1px solid #D25627;
   font-size: 0.95rem;
}

.table tr {
   width: 100%;
}

#results tr:nth-child(even) {
   background-color: #d2552728;
 }

.table td {
   padding: 0.75rem;
   cursor: pointer;
}

.table tbody tr:hover {
   background-color: #D25627 !important;
   color: white;
   transform: scale(1.01);
   transition: transform 0.3s;
} 

.table th {
   padding: 0.75rem;
   background-color: #D25627;
   color: white;
   font-size: 1.1rem;
   font-weight: 500;
   position: sticky;
   z-index: 2;
   top: 0;
   filter: drop-shadow(0px 0px 2px #D25627);
}

.centerheader {
   display: flex;
   flex-direction: row;
   align-items: center;
}

.headertext {
   margin-right: 0.15rem;
}

.tablebuttons {
   display: flex;
   justify-content: space-between;
   padding: 0 1rem 0 1rem;
}

.actions {
   display: flex;
   flex-direction: row;
}

.navigation {
   display: flex;
   flex-direction: row;
   align-items: center;
}

.tablebutton {
   padding: 0.75rem;
   margin-bottom: 0.2rem;
   background: #d25527b4;
   border-radius: 0.2rem;
   margin-right: 0.5rem;
   cursor: pointer;
}

.enabled {
   opacity: 1;
   transition: opacity 0.5s;
}

.enabled:hover {
   background: #D25627;
   color: white;
}

.disabled {
   cursor: not-allowed;
   opacity: 0.5;
}



.count {
   color: #000000;
   font-weight: 550;
   margin-right: 0.5rem;
}

.searchnav {
   color: #D25627;
   display: inline;
   cursor: pointer;
   margin-right: 0.5rem;
   margin-bottom: 0;
   font-weight: 550;
}

.searchnav:hover {
   text-decoration: underline;
}