.categories {
   margin: 0.6rem 1rem 0.6rem 1rem;
   display: flex;
   justify-content: flex-start;
   align-items: flex-end;
   border-bottom: 2px solid #A99C0F;
}

.categoryheader {
   display: flex;
   align-items: center;
   font-size: 1rem;
   margin: 0 0.2rem 0 0;
   padding: 0.6rem;
   border-radius: 0.4rem 0.4rem 0 0;
}
   

.categoryname {
   padding: 0;
   margin: 0;
}

.categoryselected {
   background-color: #F2E86D;
   cursor: default !important;
}

.notselected {
   color: #00A1E4;
}

.notselected:hover {
   background-color: #ECF0F1;
   cursor: pointer;
}

.icon {
   margin-right: 0.25rem;
   color: #A99C0F;
}

@media (max-width: 820px) {
   .categoryname {
     font-size: 0.8rem;
   }
 }

@media (max-width: 710px) {
   .categoryname {
     display: none;
   }
 }