.categories {
   margin: 0.4rem 0 0 1rem;
   display: flex;
   justify-content: flex-start;
   align-items: center;
}

.categoryheader {
   font-size: 1rem;
   display: inline;
   margin: 0 1.6rem 0 0;
}

.categoryheader:hover {
   cursor: pointer;
}

.categoryname {
   display: inline-block;
   padding-bottom: 0.25rem;
}

.categoryselected {
   border-bottom: 3px solid #D25627;
}