.container {
   display: flex;
   flex-direction: column;
   align-items: center;
   margin: 1rem;
}

.title {
   display: flex;
   align-items: center;
}

.titletext {
   padding-left: 2rem;
   font-size: 2rem;
   font-weight: 500;
   color: #D25627;
}

.titlesubtext {
   margin: 0;
   padding: 0;
   font-size: 1.1rem;
   color: #4d4d4d;
   margin-bottom: 1rem;
}

.setupcontainer {
   width: 100%;
   padding: 1rem 3rem;
}

.setup {
   padding: 1.2rem 1.6rem;
   border-radius: 0.4rem;
   box-shadow: 0px 0px 5px #c5c5c5;;
}

.setuptitle {
   font-size: 1.2rem;
   color: #D25627;
}

.inputcontainer {
   margin-bottom: 1rem;
}

.advancedbutton {
   background-color: #9c9c9c;
   color: white;
   padding: 0.5rem 1rem;
   font-size: 1rem;
   border-radius: 0.4rem;
   cursor: pointer;
   transition: transform 0.3s;
}

.growWrapDropdown {
   /* button */
   background-color: #9c9c9c;
   color: white;
   padding: 0.5rem 1rem;
   font-size: 1rem;
   border-radius: 0.4rem;
   cursor: pointer;
   transition: transform 0.3s;
}

.wrapAdvanced {
   overflow: hidden;
   transition: max-height 0.3s;
}

.colorpicker {
   margin: 0.3rem 0 1.4rem 0;
}

.compressor {
   display: flex;
}

.notrequired {
   width: 100%;
   margin-left: 2rem;
}

.checkboxinput {
   width: fit-content;
   display: flex;
   justify-content: center;
   align-items: center;
}

.checkboxinput input {
   width: fit-content !important;
   margin-top: 1.1rem;
   margin-left: 1rem;
   transform: scale(1.5);
   /* accent-color: #D25627; */
}

.createbutton {
   background-color: #D25627;
   color: white;
   padding: 1rem 1.6rem;
   font-size: 1.2rem;
   margin: 2.5rem 0;
   border-radius: 0.4rem;
   cursor: pointer;
   transition: transform 0.3s;
}

.createbutton:hover {
   background-color: #933b1b;
   transform: scale(1.1);
}