.container {
  display: flex;
  padding: 1rem 0 3rem 0;
  flex-direction: column;
}

.pageheader {
  padding: 1.5rem 0;
  display: flex;
}

.content {
  margin: 0 1rem;
}

.submissiontable {
  margin-bottom: 2rem;
}

.submission {
  cursor: pointer;
}

.submission:hover {
  background-color: #e9e9e9 !important;
}

.buttonscontainer {
  display: flex;
  flex-direction: row;
  margin-bottom: 0.5rem;
}