.container {
  display: flex;
  padding: 0 0 3rem 0;
  flex-direction: column;
}

.pageheader {
  padding: 1.5rem 0;
  display: flex;
}

.content {
  margin: 0 1rem;
}

.submissiontable {
  margin-bottom: 2rem;
}