.container {
   display: flex;
   padding: 0;
   margin: 0;
   min-height: 100vh;
}

.sidepanelcontainercollapse {
   display: flex;
   flex-shrink: 0;
   width: 3.2rem;
   transition: width 0.3s;
}

.sidepanelcontaineropen {
   display: flex;
   flex-shrink: 0;
   width: 21.2rem;
   transition: width 0.3s;
}

.sidepanel {
   background-color: rgb(242, 242, 242);
   box-shadow: 0px 0px 5px #7e7e7e;
   position: fixed;
   left: 0;
   top: 4rem;
   bottom: 0;
   padding-bottom: 3rem;
}

.headercontainer {
   display: flex;
   margin: 1rem 1rem 0.75rem 1rem;
   align-items: center;
}

.title {
   color: #D25627;
   font-weight: 500;
   padding: 0;
   margin: 0 0.5rem 0 0;
   font-size: 1.4rem;
}

.panelbutton {
   position: absolute;
   top: 1rem;
   right: 1rem;
   font-size: 1.3rem;
   color: #D25627;
   cursor: pointer;
   transition: transform .3s;
}

.panelbutton:hover {
   transform: rotate(90deg);
}

.displayId {
   margin-right: 1.5rem;
   font-size: 1rem;
   font-weight: 500;
   color: #888;
}

.metaicon {
   margin-right: 0.5rem;
   color: #465775;
}

.subheader {
   margin: 0 1rem;
   display: flex;
   justify-content: space-between;
}

.id {
   margin-top: 0rem;
   display: flex;
   align-items: center;
   color: #465775;
   font-weight: 500;
   font-size: 0.75rem;
}

.actionicon {
   margin-left: 0.75rem;
   color: #D25627;
   font-size: 1.1rem;
   cursor: pointer;
   transition: transform .2s;
}

.actionicon:hover {
   transform: scale(1.3);
}

.infocontainer {
   margin: 1rem;
   width: 19rem;
}

.info {
   margin: 0 0.5rem;
   overflow-wrap: break-word;
}

.infoheader {
   display: flex;
   justify-content: space-between;
   align-items: center;
   overflow-wrap: break-word;
   margin-right: 2rem;
   background-color: #465875;
   color: #fff;
   padding: 0.2rem 0.5rem;
   width: 100%;
}

.infolabel {
   font-size: 0.8rem;
   font-weight: 500;
}

.infoicon {
   font-size: 1rem;
}

.infoiconcontainer {
   width: 1rem;
}

.infotitle {
   padding: 0.3rem;
   margin: 0;
   font-weight: 500;
   color: #000;
   font-size: 0.8rem;
   overflow-wrap: break-word;
   border: 1px solid #465875;
   cursor: pointer;
   width: 18rem;
}

.pagesections {
   margin: 1rem;
}

.pagesectionstitle {
   font-weight: 500;
   font-size: 1.3rem;
   margin-bottom: 0.75rem;
}

.sectionheader {
   background-color: #D25627;
   padding: 0.75rem;
   border-radius: 0.4rem;
   color: #fff;
   display: flex;
   align-items: center;
   justify-content: space-between;
   cursor: pointer;
   transition: transform .1s;
   box-shadow: 0px 0px 5px #7e7e7e;
}

.sectionheaderparent {
   margin-bottom: 0.5rem;
}

.sectionheader:hover {
   transform: scale(1.03);
}

.titleandbox {
   display: flex;
   align-items: center;
}

.sectionheadertitle {
   margin-left: 0.5rem;
}

.sectionheadericon {
   font-size: 1.3rem;
   margin-right: 0.5rem;
}

.content {
   margin: 1rem 0;
   padding: 0 1rem;
   width: 100%;
   overflow: scroll;
}

.contentheader {
   display: flex;
   align-items: center;
}

.maintitle {
   margin: 0;
   color: #D25627;
   font-size: 1.7rem;
   display: flex;
   align-items: center;
}

.maintitleid {
   margin: 0 0.5rem;
   font-weight: 500;
   color: #888;
   font-size: 1.4rem;
}

.contentinfo {
   margin-top: 0.3rem;
   display: flex;
   align-items: center;
   color: #465775;
   font-weight: 500;
}

.contentinfoicon {
   margin-right: 0.3rem;
}

.contenttitleicon {
   font-size: 1.3rem;
   margin-right: 0.3rem;
}

.sections {
   margin: 2rem 0;
}

.section {
   width: 100%;
   border-radius: 0.4rem;
   box-shadow: 0px 0px 5px #948b87;
   padding: 0.5rem;
   position: relative;
   margin-bottom: 1.5rem;
   scroll-margin-top: 5rem;
}

.sectiontitle {
   font-size: 1.1rem;
   font-weight: 500;
   padding: 0.4rem;
   background-color: #D25627;
   width: fit-content;
   border-radius: 0.4rem;
   color: #fff;
}

.sectionchildcontainer {
   padding: 0.5rem;
}

.sectionminimizeicon {
   position: absolute;
   top: 0.4rem;
   right: 0.4rem;
   font-size: 1.4rem;
   color: #D25627;
   cursor: pointer;
}

.description {
   margin-top: 0.5rem;
   padding-left: 0.5rem;
   border-left: 4px solid #D25627;
   font-weight: 500;
   font-size: 1rem;
}

.detailsheader {
   margin: 1rem 0 0 0;
   font-size: 1rem;
}

.detailstext {
   margin: 0.5rem 0 1.2rem 0;
}

.memberheadercontainer {
   margin: 0.5rem 0 1rem 0;
   display: flex;
}

.membersearchinput {
   width: 100%;
   padding: 0.5rem;
   border-radius: 0.4rem 0 0 0.4rem;
   border: none;
   outline: none;
   background-color: #e6e6e6;
}

.loadinginline {
   display: inline-block;
}

.filtercontainer {
   display: flex;
   align-items: center;
   width: 100%;
   margin-bottom: 1rem;
   font-weight: 500;
}

.filterSelect {
   width: 100%;
   margin-left: 0.5rem;
   font-weight: 400;
}